{% extends "base.html" %} {% load static %}
{% block page_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block page_backgrounds %}
<div class="laydo-background" id="laydoBackgroundHome"></div>
{% endblock %} {% block laydo_home_title %}
<div class="title-dark">Modern</div>
<div class="title-name title-dark">Digital<br />Experiences</div>
{% endblock %} {% block laydo_content %}
<div class="hexagon"></div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
