{% extends "app.html" %} {% load static %}
{% block page_head %}
<title>Orbiter</title>
<link rel="stylesheet" href="{% static 'orbiter/css/orbiter.css' %}" />
<link rel="stylesheet" href="{% static 'orbiter/css/ol.css' %}" />
{% endblock %}
{% block laydo_content_1 %}
<h1>Satellite Orbit Plotter</h1>
<h2>Space Stations</h2>
    {% for satellite in satellites %}
    <a href="{% url 'plot_satellite' satellite.id %}">{{ satellite.name }}</a>
    {% empty %}
    No satellites found.
    {% endfor %}
{% endblock %}
