/* .draggable {
    position: absolute;
}

.draggable-parent {
    position: relative;
}

.planner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
} */

.draggable {
    cursor: grab;
}

#homePlanner {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid #000;
    margin: 2rem;
}