.jwst-header {
    color: black;
    text-align: center;
    margin: 0 auto;
}

.title-name {
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}


.jwst-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jwst-row-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.jwst-col-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jwst-side-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0 0.125rem;
}

.jwst-side-info h3 {
    font-size: 1rem;
}

.jwst-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#jwstInfo {
    display: none;
    font-size: 0.75rem;
    overflow-y: auto;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

.current {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.info-sec {
    text-align: center;
    font-size: 0.75rem;
}

#jwstDisplay {
    height: 45vh;
    width: 96%;
}

#jwstCurrent {
    visibility: hidden;
}

.iteration {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
}

.item {
    /* border: 0.125rem solid black; */
    width: 96%;
    padding: 0.125rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    min-height: 7rem;
}

.times,
.target {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 0.75rem;
}

.times {
    /* border: 0.125rem solid red; */
    width: 35%;
}

.target {
    /* border: 0.125rem solid blue; */
    width: 65%;
}

.times-start {
    font-size: 1.75rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.duration {
    height: 20%;
    /* color: var(--font-faded); */
}

.date-start {
    display: none;
}

.jwst-flipper {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-device-width: 600px) {
    .jwst-flipper {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .jwst-col-info {
        width: 100%;
    }
    #jwstDisplay,
    .iteration {
        height: 80vh;
    }
    #jwstSVG {
        height: 250;
        width: 250;
    }
}