/* Sports Widget Classes */
.sports-widget {
    background-color: var(--glass-backdrop);
    padding: 10px;
    margin: 1rem;
    border-radius: 1rem;
    width: 50%;
    justify-content: space-between;
    border: 0.125rem solid var(--font-color);
    color: #fff8ed;
}

.sports-widget-loading {
    position: relative;
    overflow: hidden;
    background-color: var(--glass-backdrop);
    animation: loadingShimmer 1s linear infinite alternate;
}

.sport-logo {
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    margin-right: 1.5rem;
    display: block;
}

.sports-record-standing {
    display: flex;
    flex-direction: column;
}

.sports-record {
    text-align: center;
    font-size: 1.5rem;
}

.sports-standing {
    text-align: center;
    font-size: 1rem;
}
.sports-next-event-date {
    text-align: center;
    font-size: 0.75rem;
}

.sports-next-event-opponent {
    text-align: center;
    font-size: 1.25rem;
}

.sports-next-event-broadcast {
    text-align: center;
    font-size: 0.75rem;
}

/* Team Page Classes */
.team-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.team-logo {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    margin-right: 1.5rem;
    display: block;
}

.team-name {
    text-align: center;
    font-size: 2em;
}

.team-header-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.team-record {
    text-align: center;
    font-size: 1.25rem;
    margin-right: 1rem;
}

.team-standing {
    text-align: center;
    font-size: 0.75rem;
}

.team-record-standing {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.team-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    background-color: var(--color-primary);
    /* padding: 1rem; */
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
    border-radius: 1rem;
}

.team-next-event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
    background-color: var(--glass-backdrop);
}

.team-next-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-next-event-date {
    text-align: center;
    font-size: 0.75rem;
}

.team-next-event-opponent {
    text-align: center;
    font-size: 1.25rem;
}

.team-next-event-broadcast {
    text-align: center;
    font-size: 0.75rem;
}

.team-season-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
    background-color: var(--glass-backdrop);
}

.team-standings-container,
.team-schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid var(--font-color);
    background-color: var(--glass-backdrop);
    width: 96%;
}

/* .team-standings-container {
    min-height: 15vh;
}
.team-schedule-container {
    height: 35vh;
} */

@media only screen and (max-width: 48rem) {
    .sports-widget {
        width: 80%;
    }

    .team-next-event-container,
    .team-season-results-container {
        width: 100%;
    }
    .team-body {
        flex-direction: column;
    }
    .team-logo {
        width: 100px;
        height: 100px;
    }
    .team-name {
        font-size: 1.25em;
    }
    /* .team-header,
    .team-body {
        width: 88%;
        border: 0.125rem solid var(--font-color);
    } */
}

@keyframes loadingShimmer {
    0% {
        background-color: var(--glass-backdrop);
    }

    100% {
        background-color: hsla(204, 20%, 95%, 0.689);
    }
}