{% extends "app.html" %} {% load static %}
{% block page_head %}
<title>15 Toes</title>
<link rel="stylesheet" href="{% static '15toes/css/15t.css' %}" />
{% endblock %}
{% block laydo_content_1 %}
<div class="laydo-container laydo-app">
    <div class="ft-col">
        <div class="ft-row ft-title">{{ privacy }} Lobby #{{ id }}</div>
        <div class="ft-col">
            <div class="ft-row">Player 1: {{ p1 }}</div>
            <div class="ft-row">Player 2: {% if player_two > 0 %} {{ p2 }} {% else %} Matching... {% endif %}</div>
        </div>
        <div class="ft-row">
            <div class="ft-button">READY</div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static '15toes/js/15t.js' %}"></script>
{% endblock %}