{% extends "app.html" %} {% load static %}
{% block page_head %}
<title>15 Toes</title>
<link rel="stylesheet" href="{% static '15toes/css/15t.css' %}" />
{% endblock %}
{% block laydo_content_1 %}
<div class="laydo-container laydo-app">
    <div class="ft-col">
        <div class="ft-row ft-title">{{ privacy }} Lobby #{{ id }}</div>
        <div class="ft-col">
            <div class="ft-row-b">
                <div class="ft-margin-sb">
                    Player 1: {{ p1 }}
                </div>
                {% if p1_status == 'READY' %}
                <div class="fa-solid fa-check ft-lime"></div>
                {% endif %}
            </div>
            <div class="ft-row-b">
                <div class="ft-margin-sb">
                    Player 2: {% if p2 == 0 %} <div class="ft-matching"> Matching...</div> {% else %} {{ p2 }} {% endif %}
                </div>
                {% if p2_status == 'READY' %}
                <div class="fa-solid fa-check ft-lime"></div>
                {% endif %}
            </div>
        </div>
        <div id="lobbyOptions" class="ft-row">
                {% if user.get_username == p1 %}
                    {% if p1_status == 'UNREADY' %}
                    <form method="post" class="ft-col" action="ready">
                        {% csrf_token %}
                        <input class="ft-button" type="submit" value="READY"></input>
                    </form>
                    <form method="post" class="ft-col" action="leave">
                        {% csrf_token %}
                        <input class="ft-button" type="submit" value="LEAVE"></input>
                    </form>
                    {% elif p1_status == 'READY' %}
                    <form method="post" class="ft-col" action="unready">
                        {% csrf_token %}
                        <input class="ft-button" type="submit" value="UNREADY"></input>
                    </form>
                    {% endif %}
                {% elif user.get_username == p2 %}
                    {% if p2_status == 'UNREADY' %}
                    <form method="post" class="ft-col" action="ready">
                        {% csrf_token %}
                        <input class="ft-button" type="submit" value="READY"></input>
                    </form>
                    <form method="post" class="ft-col" action="leave">
                        {% csrf_token %}
                        <input class="ft-button" type="submit" value="LEAVE"></input>
                    </form>
                    {% elif p2_status == 'READY' %}
                    <form method="post" class="ft-col" action="unready">
                        {% csrf_token %}
                        <input class="ft-button" type="submit" value="UNREADY"></input>
                    </form>
                    {% endif %}
                {% endif %}
                <form method="post" class="ft-col" action="start">
                    {% csrf_token %}
                    {% if p1_status == 'READY' and p2_status == 'READY' %}
                    <input class="ft-button" type="submit" value="START"></input>
                    {% elif status == 'IN-GAME' %}
                    <input class="ft-button" type="submit" value="CONTINUE"></input>
                    {% endif %}
                </form>
        </div>
    </div>
</div>
<div class="ft-refresh">
    <div class="ft-button" onclick="location.reload()">
        <span class="fa-solid fa-rotate"></span>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static '15toes/js/15t.js' %}"></script>
<script type="text/javascript" src="{% static '15toes/js/15t_lobby.js' %}"></script>
{% endblock %}