{% extends "app.html" %} {% load static %}
{% block page_head %}
<title>15 Toes</title>
<link rel="stylesheet" href="{% static '15toes/css/15t.css' %}" />
<link rel="stylesheet" href="{% static 'tictactoe/css/ttt.css' %}" />
{% endblock %}
{% block laydo_content_1 %}
{% if round|divisibleby:2 and user.username == p2 %}
<div class="laydo-container laydo-app">
{% elif not round|divisibleby:2 and user.username == p1 %}
<div class="laydo-container laydo-app">
{% else %}
<div class="laydo-container laydo-app turn-disable">
{% endif %}
    <div class="ft-row ft-title">{{ privacy }} Game #{{ id }}</div>
    <div class="ft-row ft-round">Round {{ round }}</div>
    <div class="ttt-board">
        <div class="ttt-col" id="ftSquares">
            <div class="ttt-row" id="squareRow0">
                <div class="ft-square ttt-border-right ttt-border-bottom" id="square0">{{ spaces.0|cut:"0" }}</div>
                <div class="ft-square ttt-border-right ttt-border-bottom" id="square1">{{ spaces.1|cut:"0" }}</div>
                <div class="ft-square ttt-border-bottom" id="square2">{{ spaces.2|cut:"0" }}</div>
            </div>
            <div class="ttt-row" id="squareRow1">
                <div class="ft-square ttt-border-right ttt-border-bottom" id="square3">{{ spaces.3|cut:"0" }}</div>
                <div class="ft-square ttt-border-right ttt-border-bottom" id="square4">{{ spaces.4|cut:"0" }}</div>
                <div class="ft-square ttt-border-bottom" id="square5">{{ spaces.5|cut:"0" }}</div>
            </div>
            <div class="ttt-row" id="squareRow2">
                <div class="ft-square ttt-border-right" id="square6">{{ spaces.6|cut:"0" }}</div>
                <div class="ft-square ttt-border-right" id="square7">{{ spaces.7|cut:"0" }}</div>
                <div class="ft-square" id="square8">{{ spaces.8|cut:"0" }}</div>
            </div>
        </div>
        <div class="ttt-col-b" id="ftPlayerArea">
            <div class="ttt-row-b">
                {% if not round|divisibleby:2 %}
                <div class="ttt-col-top">
                    {% else %}
                    <div class="ttt-col-top disabled">
                        {% endif %}
                    <div class="ttt-player">{{ p1|default:'Player One' }}</div>
                    <div class="ttt-row-numbers">
                        {% for i in spaces %}
                            {% if not forloop.counter|divisibleby:2 %}
                                {% if not forloop.counter in plays %}
                                    <div class="ttt-number" id="text{{ forloop.counter0 }}">{{ forloop.counter }}</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% if round|divisibleby:2 %}
                <div class="ttt-col-top">
                {% else %}
                <div class="ttt-col-top disabled">
                {% endif %}
                    <div class="ttt-player">{{ p2|default:'Player Two' }}</div>
                    <div class="ttt-row-numbers">
                        {% for i in spaces %}
                            {% if forloop.counter|divisibleby:2 %}
                                {% if not forloop.counter in plays %}
                                    <div class="ttt-number" id="text{{ forloop.counter0 }}">{{ forloop.counter }}</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static '15toes/js/15t_game.js' %}"></script>
{% endblock %}