{% extends "app.html" %}{% load static %}
{% block page_head %}
<link rel="stylesheet" href="{% static 'cookbook/css/cookbook.css' %}" />
{% endblock %}
{% block laydo_content_1 %}
<h1>{{ recipe.title }} - {{ recipe.time_required }} mins</h1>
<div class="cook-detail-container">
    <h2>Ingredients</h2>
    <div class="cook-align-start">
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    <h2>Instructions</h2>
    <div class="cook-align-start">
        <ol>
            {% for instruction in recipe.instructions %}
                <li>{{ instruction }}</li>
            {% endfor %}
        </ol>
    </div>
    {% endblock %}
</div>