{% extends "app.html" %} {% load static %} 
{% block page_head %}
<title>JWST</title>
<link rel="icon" href="{% static 'jwst/img/jwst.svg' %}" type="image/svg+xml"/>
<link rel="stylesheet" href="{% static 'jwst/css/jwst.css' %}" />
{% endblock %} 
{% block laydo_content_1 %}
<div class="laydo-container laydo-app">
  <div class="jwst-flipper">
    <div class="jwst-col-info">
      <div class="container-title">James Webb Space Telescope</div>
      <div class="laydo-container" id="jwstDisplay">
        <div class="jwst-wrapper" id="jwstIcon">
          <svg id="jwstSVG" width="100" height="100" viewBox="0 0 225 225" ></svg>
          <div class="jwst-col-info">
            <h3 id="targetTitle">TARGET NAME</h3>
            <div class="info-sec" id="targetName">--</div>
          </div>
        </div>
        <div class="jwst-side-info">
          <div class="jwst-col-info">
            <h3>INSTRUMENTS</h3>
            <div class="info-sec" id="instruments">--</div>
          </div>
          <div class="jwst-col-info">
            <h3>CATEGORIES</h3>
            <div class="info-sec" id="categoryKeywords">--</div>
          </div>
        </div>
        <div class="jwst-side-info">
          <div class="jwst-col-info">
            <h3 id="timeTitles">SCHEDULE</h3>
            <div class="info-sec" id="startTimeTimes">--</div>
          </div>
        </div>
      </div>
    </div>
    <div class="jwst-col-info">
      <div id="scrollDate" class="container-title"></div>
      <div class="iteration" id="iterateTarget"></div>
    </div>
  </div>
  
</div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static 'jwst/js/jwst.js' %}"></script>
{% endblock %}
