{% extends "app.html" %} {% load static %} {% block page_head %}
<link rel="stylesheet" href="{% static 'css/weather.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
{% endblock %} 
{% block page_menu %}
<a class="nav-link" onclick="toggleCitySearch()" id="">Search</a>
{% endblock %}
{% block laydo_content_1 %}
<div id="Weather" class="laydo-app">
  <div id="loader" class="loader"></div>
  <div id="citySection" class="city-search">
    <input type="text" id="citySearch" name="citySearch" placeholder="Enter a city" />
    <button id="weatherSearch" onclick="getCurrentWeather()"><span id="searchIcon" class="fas fa-search"></span></button><br />
  </div>
  <h2 id="cityName"></h2>
  <div id="currentWeather">
    <div class="current-weather">
      <div class="current-left" style="display: none;">
        <div id="atmosphere">
          <div id="atmosTitle" class="mini-title">Clouds</div>
          <div id="cloudsData" class="mini-data"></div>
          <div id="pressureData" class="mini-data"></div>
        </div>
        <div id="aqi">
          <div id="airTitle" class="mini-title">AQI</div>
          <div id="aqiData" class="mini-data"></div>
          <div id="pmData" class="mini-data"></div>
        </div>
      </div>
      <div class="current-middle">
        <div id="current-temp"></div>
        <span id="current-icon"></span>
        <div class="laydo-row-space">
          <div id="current-high"></div>
          <div id="current-low"></div>
          <div id="tempTitle" class="mini-title"></div>
        </div>
      </div>
      <div class="current-right" style="display: none;">
        <div id="precip">
          <div id="wetTitle" class="mini-title">Humidity</div>
          <div id="humidData" class="mini-data"></div>
          <div id="precipData" class="mini-data"></div>
        </div>
        <div id="wind">
          <div id="windTitle" class="mini-title">Wind</div>
          <div id="windData" class="mini-data"></div>
          <div id="gustData" class="mini-data"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="hfc" class="container-forecast">
    <div class="container-title">Hourly Forecast</div>
    <div id="hourly" class="weather-hourly"></div>
  </div>
  <div id="dailyForecast" class="container-forecast">
    <div class="container-title">10-day Forecast</div>
    <div id="forecast" class="weather-forecast"></div>
  </div>
  <div id="map" class="container-forecast">
    <div class="container-title">Weather Map</div>
    <div id="weatherMap" class="map-container"></div>
  </div>
  <div id="celestialTop">
    <h2>Celestial</h2>
    <div id="celestial" class="celestial-section" dir="ltr"></div>
  </div>
</div>
{% endblock %} {% block page_scripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script type="text/javascript" src="{% static 'js/weather.js' %}"></script>
{% endblock %}
