.allergies-header {
    color: black;
    text-align: center;
    margin: 0 auto;
}

.title-name {
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.allergies-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allergies-button {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.125rem;
    width: 20rem;
    /* margin: 0 auto; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

.allergies-level {
    width: 25%;
}

.allergies-food {
    padding: 1rem;
    width: 75%;
    font-size: 1.25rem;
    word-wrap: none;
}

.allergies-app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.allergies-control {
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.allergies-start {
    justify-content: start;
}

#ingredientSection {
    margin: 0 auto;
}
.allergies-instructions {
    text-align: center;
}