html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.laydo-flex-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 10;
  text-align: center;
}
.laydo-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 998;
  right: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: none;
}
.laydo-overlay a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  display: block;
  cursor: pointer;
  letter-spacing: 0.0625rem;
}
.laydo-overlay .nav-link:hover {
  color: #efd09f;
}

.bar1,
.bar2,
.bar3 {
  width: 26px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
#laydoNavIcon {
  padding: 1rem;
  z-index: 999;
}

.laydo-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#laydoHomeOne,
#laydoHomeTwo {
  min-height: 100vh;
}

.laydo-title,
.laydo-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
}
.laydo-title {
  /* border: 0.125rem solid green; */
  justify-content: center;
  align-items: center;
  height: 75%;
}
.laydo-bottom {
  /* border: 0.125rem solid blue; */
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
  height: 25%;
}
.title-name {
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  margin-bottom: 5rem;
}
.title-dark {
  color: white;
}
.laydo-mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 10%;  /* 3.125rem; */
  /* border: 0.125rem solid red; */
}
.laydo-nav-menu {
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
  color: white;
}
.laydo-nav-title {
  margin-left: 1rem;
  cursor: pointer;
  width: 15%;
}
.laydo-nav-title:hover {
  stroke: #efd09f;
}

.laydo-button {
  background-color: #939a7e;
  color: white;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  width: 90%;
  cursor: pointer;
}
.laydo-button a {
  text-decoration: none;
  color: inherit;
}
#laydoArrowDown {
  position: absolute;
  bottom: 5%;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}
.laydo-img-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.laydo-gallery {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.laydo-gallery-credit {
  background-color: white;
  width: 100%;
  padding: 3rem 0;
}
.laydo-pic {
  max-width: 45%;
  padding: 1rem 0;
}
.laydo-footer {
  position: relative;
  background-color: #d1d1d1;
  padding: 3rem 0;
  width: 100%;
}
.top-back-button {
  border-radius: 50%;
  background-color: white;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: -1.5rem;
  left: 50vw;
  margin-left: -1.5rem;
}
.top-back-button a {
  text-decoration: none;
  color: black;
}
.laydo-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 48rem) {
  .laydo-nav-title {
    flex-wrap: nowrap;
    width: 50%;
  }
  .title-name {
    font-size: 3rem;
  }
}
