.ttt-board {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
}
.ttt-square {
    width: 7rem;
    height: 7rem;
    background-color: transparent;
}
.ttt-player {
    font: bold 1.5rem serif;
    fill: var(--font-color);
    text-decoration: underline;
}
.ttt-number {
    font: bold 3rem serif;
    fill: var(--font-color);
}