{% extends "app.html" %} {% load static %} 
{% block page_head %}
<title>Apollo Allergies</title>
<link rel="stylesheet" href="{% static 'allergies/css/allergies.css' %}" />
{% endblock %} 
{% block laydo_content_1 %}
<div class="allergies-section laydo-container laydo-app">
  <div class="allergies-app allergies-start" id="controlPanel">
    <span id="allergiesToggle" class="allergies-control fas fa-minus" onclick="showAllergies()"></span>
    <span id="allergiesCheck" class="allergies-control fas fa-spinner"></span>
    <span id="allergiesFilter" class="allergies-control fa-solid fa-filter-circle-xmark" onclick="getAllergies()"></span>
    <span id="allergiesFilter" class="allergies-control fa-solid fa-0" onclick="getLevelAllergies(0)"></span>
    <span id="allergiesFilter" class="allergies-control fa-solid fa-1" onclick="getLevelAllergies(1)"></span>
    <span id="allergiesFilter" class="allergies-control fa-solid fa-2" onclick="getLevelAllergies(2)"></span>
    <span id="allergiesFilter" class="allergies-control fa-solid fa-3" onclick="getLevelAllergies(3)"></span>
  </div>
  <div class="allergies-section">
    <div class="allergies-section" id="allergyTable">
    </div>
    <div class="allergies-section allergies-start" id="ingredientSection">
      <div class="allergies-instructions">
        Please enter the ingredients of food, comma separated
      </div>
      <textarea id="ingredientInput" rows="10" cols="50"></textarea>
      <button onclick="checkAllergies()">Check 'Em</button>
      <br><br>
      <div class="allergies-section" id="recipeTable"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static '/dist/allergies.bundle.js' %}"></script>
{% endblock %}