#laydoBackgroundHome {
  display: inherit;
  background-color: var(--color-primary);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  position: absolute;
  width: 4.5rem;
  height: 2.55rem;
  /* width: 5.625rem;
  height: 3.1875rem; */
}

.container div:nth-of-type(2) {
  transform: rotate(60deg);
}
.container div:nth-of-type(3) {
  transform: rotate(-60deg);
}

.container div div {
  width: 100%;
  height: 100%;
  position: relative;
}

.container div div span {
  position: absolute;
  width: 4px;
  height: 0%;
  background: var(--font-color);
  z-index: 999999;
}

.h1 {
  left: 0;
  animation: load1 7.2s ease infinite;
}
.h2 {
  right: 0;
  animation: load2 7.2s ease 0.6s infinite;
}
.h3 {
  right: 0;
  animation: load3 7.2s ease 1.2s infinite;
}
.h4 {
  right: 0;
  animation: load4 7.2s ease 1.8s infinite;
}
.h5 {
  left: 0;
  animation: load5 7.2s ease 2.4s infinite;
}
.h6 {
  left: 0;
  animation: load6 7.2s ease 3s infinite;
}

@keyframes load1 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.944444433% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}

@keyframes load2 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.944444433% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%} */
}

@keyframes load3 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.94444443% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load4 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.94444443% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load5 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.94444443% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}

@keyframes load6 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.94444443% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}

.tech-plat a {
  height: 6rem;
  width: 6rem;
  display: inherit;
  background-position: center;
  background-size: cover;
}

.tech-plat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-plat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#djangoUsed {
  background-image: url('/static/home/img/django.png');
}

#pythonUsed {
  background-image: url('/static/home/img/python.png');
}

#typescriptUsed {
  background-image: url('/static/home/img/typescript.svg');
}

#postgresUsed {
  background-image: url('/static/home/img/postgres.png');
}

#githubUsed {
  background-image: url('/static/home/img/github.png');
}

#doUsed {
  background-image: url('/static/home/img/digitalocean.png');
}

#jestUsed {
  background-image: url('/static/home/img/jest.png');
}

.app-site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apps-space {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.app-claim {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 16.5rem;
}

.app-button {
  min-height: 6rem;
  min-width: 6rem;
  max-height: 6rem;
  max-width: 6rem;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625rem 0.25rem;
  border-radius: 25%;
  cursor: pointer;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

@keyframes appOpen {
  from {
    height: 10rem;
    width: 10rem;
    background-color: transparent;
  }

  to {
    transform: scale(20);
  }
}

.app-open {
  animation-name: appOpen;
  animation-duration: 1s;
}

.app-title {
  font-size: 1rem;
}

#orbiter {
  background-image: url('/static/iss/img/iss.png');
}

#jwst {
  background-image: url('/static/jwst/img/jwst.svg');
}

#weather {
  background-image: url('/static/weather/img/weatherIcon.svg');
}

#allergies {
  background-image: url('/static/allergies/img/paw-print.jpg');
}

#mtg {
  background-image: url('/static/mtg/img/mtgIcon.svg');
}

#sports {
  background-image: url('/static/sports/img/football.svg');
}

@media only screen and (max-width: 37.5rem) {
  .app-site-container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 37.5rem) {

  .app-button {
    min-height: 10rem;
    min-width: 10rem;
  }

  .app-title {
    font-size: 2rem;
  }

  .container div {
    position: absolute;
    width: 7.5rem;
    height: 4.25rem;
  }
  .site-div {
    min-height: 20rem;
    min-width: 15rem;
  }

  .site-title {
    font-size: 2rem;
  }
}

.site-space {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.site-claim {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-div {
  min-height: 15rem;
  min-width: 10rem;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625rem 0.25rem;
  border-radius: 5%;
  cursor: pointer;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}

.site-title {
  font-size: 1rem;
}

#wedding {
  background-image: url('/static/wedding/img/Aieleen-Landen-Engagement-13.jpg');
}

#apollosarcade {
  background-image: url('/static/home/img/apollo.png');
}

.sites-title,
.apps-title {
  width: 100%;
  font-size: 2rem;
}

.fade-out-bottom {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}