{% extends "app.html" %}{% load static %}
{% block page_head %}
<link rel="stylesheet" href="{% static 'ai/css/codehilite.css' %}" />
<link rel="stylesheet" href="{% static 'ai/css/chat.css' %}" />
{% endblock %}
{% block laydo_content_1 %}
<div id="chatUI" class="chat-ui-container"></div>
{% endblock %}
{% block laydo_footer %}<div style="margin-right: 0.25rem;">Powered by </div><a href="https://www.groq.com/">Groq</a>{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static '/dist/ai.bundle.js' %}"></script>
{% endblock %}