{% load static %}
<!DOCTYPE html>
<html lang="en" class="theme-light">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Website design and development for small businesses, weddings, and portfolios." />
  <head>
    <title>LaydoNet</title>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
    <link rel="icon" href="{% static 'hex.svg' %}" type="image/svg+xml" sizes="any"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    {% block page_head %}{% endblock %}
  </head>
  <body>
    <div class="laydo-overlay" id="laydoOverlay">
      <!-- Overlay content -->
      <div class="laydo-overlay-content">
        <a class="nav-link" onclick="redirect(event)" id="">LaydoNet</a>
        <a class="nav-link" onclick="redirect(event)" id="webapps">Apps</a>
        <a class="nav-link" onclick="redirect(event)" id="websites">Sites</a>
        <a class="nav-link" onclick="redirect(event)" id="blog">Blog</a>
        <span class="nav-link fas fa-adjust" id="themeIcon" onclick="toggleTheme()"></span>
        {% block page_menu %}
        {% endblock %}
      </div>
    </div>

    <!-- Flexible Navigation Bar -->
    <div class="laydo-mobile-nav" id="laydoMNavbar">
      <div class="laydo-nav-title" id="laydoNavTitle" onclick="redirect(event)">
        <svg viewBox="0 14 100 24">
          <!-- LA -->
          <path d="M5 20 C 5 30 5 30 15 30 C20 17 20 17 25 30 M19 26 L21 26" stroke-width="1" fill="none" />
          <!-- Y -->
          <path d="M25 20 Q 30 28 35 20 M30 24 L30 30" stroke-width="1" fill="none" />
          <!-- D -->
          <path d="M35 20 L40 20 C 45 20 45 30 40 30 L35 30" stroke-width="1" fill="none" />
          <!-- O -->
          <circle cx="50" cy="25" r="5" stroke-width="1" fill="none" />
          <!-- NET -->
        </svg>
      </div>
      <div id="laydoNavIcon" onclick="toggleOverlay()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    {% block page_backgrounds %}{% endblock %}
    <div class="laydo-flex-home">
      <div class="laydo-flex-home" id="laydoHomeOne">
        {% block laydo_content_1 %}
        {% endblock %}
      </div>
    </div>
    <div class="laydo-flex-home">
      <div class="laydo-footer">
        <div class="laydo-net-footer">Development by Landen Robinson</div>
        <div class="laydo-net-footer">
          <span
            id="twitterIcon"
            class="fab fa-twitter socicon"
            onclick="openSocial(event)"
          ></span>
          <span
            id="linkedIcon"
            class="fab fa-linkedin-in socicon"
            onclick="openSocial(event)"
          ></span>
          <span
            id="githubIcon"
            class="fab fa-github socicon"
            onclick="openSocial(event)"
          ></span>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'base/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/Utils.js' %}"></script>
    {% block page_scripts %}{% endblock %}
  </body>
</html>
