{% load static %}
<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Website design and development for small businesses, weddings, and portfolios." />
  <head>
    <title>LaydoNet</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    {% block page_head %}{% endblock %}
  </head>
  <body>
    <div class="laydo-overlay" id="laydoOverlay">
      <!-- Close overlay button -->
      <div class="laydo-close-btn" onclick="closeOverlay()">&times;</div>
      <!-- Overlay content -->
      <div class="laydo-overlay-content">
        <a class="nav-link" onclick="redirect(event)" id="">Home</a>
        <a class="nav-link" onclick="redirect(event)" id="services">Services</a>
        <a class="nav-link" onclick="redirect(event)" id="portfolio">Portfolio</a>
        <a class="nav-link" onclick="redirect(event)" id="about">About</a>
        <a class="nav-link" onclick="redirect(event)" id="contact">Contact</a>
      </div>
    </div>

    <!-- Flexible Navigation Bar -->
    <div class="laydo-mobile-nav" id="laydoMNavbar">
      <div class="laydo-nav-title" id="laydoNavTitle" onclick="redirect(event)">LaydoNet</div>
      <div id="laydoNavIcon" class="laydo-nav-menu fas fa-bars" onclick="openOverlay()"></div>
    </div>
    {% block page_backgrounds %}{% endblock %}
    <div class="laydo-flex-home">
      <div class="laydo-flex-home" id="laydoHomeOne">
        <div class="laydo-title">{% block laydo_home_title %}{% endblock %}</div>
        <div class="laydo-bottom">
          <div class="material-icons" id="laydoArrowDown">keyboard_arrow_down</div>
        </div>
      </div>
      <div class="laydo-flex-home" id="laydoHomeTwo">{% block laydo_content %}{% endblock %}</div>
      <div class="laydo-flex-home">
        <div class="laydo-footer">
          <div class="top-back-button" id="btt">
            <a href="#"><span class="fas fa-chevron-up"></span><br />TOP</a>
          </div>
          <div class="laydo-net-footer">Site development by Landen Robinson</div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block page_scripts %}{% endblock %}
  </body>
</html>
