{% extends "wedding_base.html" %} {% load static %} {% block page_backgrounds %}
<div class="apl-background" id="aplBackground3"></div>
<div class="apl-background" id="aplBackground4"></div>
<div class="apl-background" id="aplBackground7"></div>
<div class="apl-background" id="aplBackground8"></div>
{% endblock %} {% block apl_homeone_title%}
<div class="title-name title-dark">OUR STORY</div>
{% endblock %} {% block apl_sepone_content %}
<div class="apl-home-img">
  <img id="laPushFam" src="/static/img/fam_lapush.jpg" />
</div>
{% endblock %} {% block apl_content%}
<div class="apl-flex-home" id="aplHomeZero">
  <div class="title-name title-dark">TOLD BY<br>AIELEEN</div>
</div>
<div class="apl-flex-home" id="aplStoryOne">
  <div class="apl-story-frame">
    <div class="apl-story-title"><div>HOW WE MET</div></div>
    <div class="apl-story">
      On a Friday after work, our mutual friend asked some people to go out for happy hour. 
      As I was chatting away to others, Landen pulled up a chair next to me. He introduced 
      himself while sporting a thick mustache which I would describe to be similar to the Lorax.
      <br><br>
      Landen and I started talking, and I shared how much I love music. He then took out his 
      phone and showed me his recent playlist. One of his top 3 songs was the WoW theme song. 
      As I pointed it out, he leaned in closer to me and whispered, "this is embarrassing." 
      And that was the first moment that Landen made me smile.
      <br><br>
      At that point, I was living in Seattle for 3 years and I have learned and accepted that 
      the "Seattle Freeze" is a real thing. People in Seattle are nice, but they dont want to 
      hangout with you other than that day... So when I received a text from Landen a couple 
      days later, I was caught off guard to hear from him. He asked to hangout and I was very eager to do so.
      <br><br>
      I already had plans to go to trivia that evening, and I invited him to join. I did not 
      think he was actually going to come out since Seattle is quite the distance from where he 
      lived and it was also a Wednesday. But to my surprise, he showed up! 
      <br><br>
      We talked a lot that evening. And it's safe to say that we did not win any trivia prizes 
      but instead, we got to know each other more. From then on, the more we hung out, everything in life seemed new again ❤
    </div>
  </div>
</div>
<div class="apl-flex-home" id="aplHomeTwo">
  <div class="title-name title-dark">TOLD BY<br>LANDEN</div>
</div>
<div class="apl-flex-home" id="aplHomeThree">
  <div class="apl-story-frame">
    <div class="apl-story-title"><div>HOW IT ALL STARTED</div></div>
    <div class="apl-story">
      Back in early November of 2018, a friend asked a few people out for happy hour at The Goose with his co-workers. 
      I show up and just about everyone is already there, including Aieleen, so I plop my buns right next to hers and 
      we got to talking. Between her friendly banter and admiration of my music playlists, I felt instant chemistry with 
      her but I was also giddy to be in her presence. After everyone had dispersed from the venue and I had gotten home, 
      I cursed at myself for forgetting to ask for her number!
      <br><br>
      However, after the weekend, I reached out to our mutual friend for her number. After acquiring it and mustering up 
      my courage, I shot her a text saying how great a time I had at The Goose and if she'd like to get together again soon. 
      She obliged immediately and wanted to grab drinks with coworkers again but… traffic was a little terrible and I asked 
      if we could try again another time. She thankfully said yes and later that night we met up on Wednesday, November 7th, 2018 
      for some trivia action with some friends of hers. While we weren't the most dominate team at trivia, I got to see how 
      outgoing, lively, and hilarious my future wife is. Afterwards, since I had driven from Redmond, I graciously gave her a ride back to her apartment and a hug goodnight.
      <br><br>
      After all this, I knew I had someone truly special, my person. I had spent the following night out with some friends 
      talking all about her and sharing my plans to surprise her the following morning for her 5k run in Woodinville… and to continue surprising her for the rest of our lives.
    </div>
  </div>
</div>
<div class="apl-flex-home" id="aplHomeFour">
  <div class="title-name title-dark">TWO BECAME<br>ONE</div>
</div>
{% endblock %}
{% block apl_gallery %}
  <div class="apl-gallery" id="proposalGallery"></div>
  <div class="apl-gallery-credit">Photos by <a href="https://lauriejeanphotography.pic-time.com/portfolio" target="_blank">Laurie Jean Photography</a></div>
{% endblock %}
 {% block page_scripts %}
<script type="text/javascript" src="{% static '/wedding/js/ourstory.js' %}"></script>
{% endblock %}
