{% extends "app.html" %} {% load static %} {% load tz %} {% block page_head %}
<link rel="stylesheet" href="{% static 'sports/css/sports.css' %}" />
{% endblock %}
{% block laydo_content_1 %}
<div id="sportsTeamPage" class="laydo-app team-container" style=" border: 0.125rem solid #{{ alternateColor }};">
    <div class="team-header" style="background-image: linear-gradient(#{{ color }} 70%, var(--color-primary) 100%);">
        <img class="team-logo" src="{{ logo }}" alt="{{ name }}" />
        <div class="team-header-info">
            <div class="team-name">{{ seasonYear }} {{ name }}</div>
            <div class="team-record-standing">
                <div class="team-record">{{ record }}</div>
                <div class="team-header-standing">{{ standing }}</div>
            </div>
        </div>
    </div>
    <div class="team-body">
        <div class="team-next-event-container">
            <div class="team-next-event">{{ nextEvent.event }}</div>
            <div class="team-next-event-date" data-utc="{{ nextEvent.date }}"></div>
            <div class="team-next-event-broadcast">{{ nextEvent.broadcast }}</div>
        </div>
        <div class="team-season-results-container">
            <div class="team-standings-container">
                <div class="team-standing-title">{{ standingHeader }}</div>
                <div class="team-standing">
                {% if league == 'nfl' %}
                    <div class="team-standing-record">
                        <div class="team-standing-team-center">Team</div>
                        <div class="team-standing-wins">W</div>
                        <div class="team-standing-losses">L</div>
                        <div class="team-standing-ties">T</div>
                        <div class="team-standing-pct">PCT</div>
                        <div class="team-standing-pa">PA</div>
                        <div class="team-standing-pf">PF</div>
                    </div>
                {% elif league == 'ncaaf' %}
                    <div class="team-standing-record">
                        <div class="team-standing-team-center">Team</div>
                        <div class="team-standing-wins">Conf</div>
                        <div class="team-standing-losses">Overall</div>
                    </div>
                {% endif %}
                    {% for team in standings %}
                    {% if team.id == id %}
                    <div class="team-standing-record-bold">
                    {% else %}
                    <div class="team-standing-record">
                    {% endif %}
                    {% if league == 'nfl' %}
                        <div class="team-standing-team"><img class="team-schedule-logo" src="{{ team.logo }}">{{ team.team }}</div>
                        <div class="team-standing-wins">{{ team.w }}</div>
                        <div class="team-standing-losses">{{ team.l }}</div>
                        <div class="team-standing-ties">{{ team.t }}</div>
                        <div class="team-standing-pct">{{ team.pct }}</div>
                        <div class="team-standing-pa">{{ team.pa }}</div>
                        <div class="team-standing-pf">{{ team.pf }}</div>
                    {% elif league == 'ncaaf' %}
                        <div class="team-standing-cf-team"><img class="team-schedule-logo" src="{{ team.logo }}">{{ team.team }}</div>
                        <div class="team-standing-cf-conf">{{ team.conference }}</div>
                        <div class="team-standing-cf-overall">{{ team.overall }}</div>
                    {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="team-schedule-container">
                <div class="team-schedule-header">Schedule</div>
                <div class="team-schedule">
                    {% for game in schedule %}
                    <div class="team-schedule-event">
                        <div class="team-schedule-date" data-utc="{{ game.date }}"></div>
                        <div class="team-schedule-vs">{{ game.competition.vsText }}</div>
                        <div class="team-schedule-opponent"><img class="team-schedule-logo" src="{{ game.competition.opponentLogo}}">{{ game.competition.opponent }}</div>
                        <div class="team-schedule-outcome" data-outcome="{{ game.competition.outcome }}"></div>
                        <div class="team-schedule-score">{{ game.competition.score }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block laydo_footer %}
<div id="credits" class="sub-data">Sports data provided by <a href="https://www.espn.com">ESPN</a></div>
{% endblock %}
{% block page_scripts %}
<script type="module" src="{% static '/dist/sports.bundle.js' %}"></script>
{% endblock %}