.iss-header {
  color: black;
  text-align: center;
  margin: 0 auto;
}

.title-name {
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}


.iss-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iss-info {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.iss-sec-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

#mapId {
  min-height: 21rem;
  margin: 1rem;
}

.iss-icon {
  width: 1.25rem !important;
  height: 1.25rem !important;
  background-image: url('/static/iss/img/iss.png');
  background-position: center;
  background-size: cover;
  border-color: none;
  animation: glow 1s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0 0 2rem 0.05rem azure;
  }
}

.iss-button {
  width: auto;
  padding: 2rem;
  margin: 0 auto;
}

.metric {
  background-color: var(--glass-backdrop);
  border: 0.125rem solid var(--font-color);
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  color: var(--font-color);
}

.metric-checked {
  background-color: var(--font-color);
  color: var(--color-primary);
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}

@media only screen and (min-device-width: 600px) {
  #mapId {
    min-height: 80vh;
  }
}