{% extends "app.html" %}
{% load static %}
{% block page_head %}
<link rel="stylesheet" href="{% static 'css/mtg.css' %}" />
<link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block laydo_content_1 %}
<div id="MTG" class="laydo-app">
    <div class="arena">
        <input type="text" id="cardName" name="cardName" placeholder="Enter a card name">
        <button id="mtgSearch" onclick="checkSearch()"><span id="searchIcon" class="fas fa-search"></span></button><br>
        <div id="filters" style="display: none;">
            <div id="colors"></div>
            <div id="sets"></div>
        </div>
        <div id="results"></div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static 'js/mtg.js' %}"></script>
{% endblock %}