html,
body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.theme-light {
  --color-primary: #fff8ed;
  --color-secondary: #c0aa92;
  --color-accent: #80716c;
  --font-color: #000020;
  --font-faded: #00002090;
  --font-faded50: #00002050;
  --glass-backdrop: rgba(0, 0, 0, 0.15);
}

.theme-dark {
  --color-primary: #000020;
  --color-secondary: #80716c;
  --color-accent: #ffe2b8;
  --font-color: #fff8ed;
  --font-faded: #fff8ed90;
  --font-faded50: #fff8ed50;
  --glass-backdrop: rgba(255, 255, 255, 0.15);
}

.laydo-flex-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 10;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--font-color);
}

.laydo-container {
  display: flex;
  flex-direction: column;
  background-color: var(--glass-backdrop);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  width: 96%;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
}

.container-title {
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  color: var(--font-faded);
}

.laydo-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 998;
  right: 0;
  top: 0;
  background-color: var(--color-primary);
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: none;
}

.laydo-overlay a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--font-color);
  display: block;
  cursor: pointer;
  letter-spacing: 0.0625rem;
}

.laydo-overlay .nav-link:hover {
  color: var(--color-accent);
}

.bar1,
.bar2,
.bar3 {
  width: 26px;
  height: 3px;
  background-color: var(--font-color);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

#laydoNavIcon {
  cursor: pointer;
  padding: 1rem 3rem;
  z-index: 999;
}

.laydo-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#laydoHomeOne,
#laydoHomeTwo {
  min-height: 90vh;
  margin-top: 4rem;
}

.laydo-title,
.laydo-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
}

.laydo-title {
  /* border: 0.125rem solid green; */
  justify-content: center;
  align-items: center;
  height: 75%;
}

.laydo-bottom {
  /* border: 0.125rem solid blue; */
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
  height: 25%;
}

.title-name {
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  margin-bottom: 5rem;
}

.title-dark {
  color: var(--font-color);
}

.laydo-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

#laydoMNavbar {
  background-color: var(--color-primary);
  transition: top 0.3s;
}

.laydo-nav-menu {
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
  color: var(--font-color);
}

.laydo-nav-title {
  margin-left: 1rem;
  cursor: pointer;
  width: 15%;
  stroke: var(--font-color);
}

.laydo-button {
  background-color: var(--color-primary);
  color: var(--font-color);
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  width: 90%;
  cursor: pointer;
}

.laydo-button a {
  text-decoration: none;
  color: inherit;
}

/* Jumping animation for laydoArrowDown */
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

#laydoArrowDown {
  position: absolute;
  bottom: 5%;
  color: var(--font-color);
  font-size: 3rem;
  font-weight: 400;
  animation: jump 1s infinite;
}

.laydo-img-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.laydo-gallery {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.laydo-gallery-credit {
  background-color: white;
  width: 100%;
  padding: 3rem 0;
}

.laydo-pic {
  max-width: 45%;
  padding: 1rem 0;
}

.laydo-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  padding: 0.5rem 0;
  width: 100%;
  color: var(--font-color);
  min-height: 5vh;
}

.laydo-net-footer {
  display: flex;
  flex-direction: row;
}

.socicon {
  cursor: pointer;
  margin: 1rem;
  font-size: 1.5rem;
}

/* .hexagon {
  position: relative;
  height: 110px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.25rem);
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
} */

.top-back-button {
  background-color: var(--font-color);
  height: 3.4375rem;
  width: 3.125rem;
  position: absolute;
  top: -2rem;
  left: 50vw;
  margin-left: -1.5rem;
  color: var(--color-primary);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.top-back-button a {
  text-decoration: none;
  color: var(--color-primary);
}

.laydo-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.laydo-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.laydo-row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.laydo-row-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}

.laydo-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.laydo-row-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#themeIcon {
  font-size: 1.5rem;
  padding-top: 1rem;
  cursor: pointer;
  color: var(--font-color);
}

@media only screen and (max-width: 48rem) {
  .laydo-nav-title {
    flex-wrap: nowrap;
    width: 50%;
  }

  .title-name {
    font-size: 3rem;
  }

  #laydoNavIcon {
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 37.5rem) {

  #laydoHomeOne,
  #laydoHomeTwo {
    min-height: 90vh;
  }
  .container-title {
    padding-top: 1rem;
  }
  .laydo-app {
    margin-top: 1rem;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 10%;
  animation: slideDown 0.5s ease-out forwards;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #888;
  width: 100%;
  pointer-events: all;
  border-radius: 0.25rem;
}

.close {
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.25rem;
  border: 0.124rem solid #31708f;
  margin: 0.5rem;
  width: 25%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alert {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.modal-hide {
  animation: slideUp 0.5s ease-out forwards;
}